<section class="hero">
  <div class="container">
    <h1>Bienvenue sur mon Portfolio</h1>
    <p>Etudiant en BUT Informatique passionné par la création d'applications modernes et performantes.</p>
    <a [routerLink]="['/projects']" class="btn">Voir mes projets</a>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2>À propos de moi</h2>
    <div class="about-content">
      <img src="profil.JPG" alt="Photo de profil" class="profile-img" />
      <div class="about-text">
        <p>
          Passionné par le développement web et les nouvelles technologies, je suis un étudiant en 2 éme année de BUT Informatique.
          J'aime concevoir des interfaces modernes, intuitives et performantes.
        </p>
        <p>
          J’ai travaillé sur des projets variés, allant de sites vitrines aux applications web complexes. Mon objectif :
          allier design et performance pour offrir la meilleure expérience utilisateur.
        </p>
        <p>
          En plus du développement, je m’intéresse à l’UX/UI design, à la performance web, et je suis toujours en quête
          de nouvelles connaissances pour rester à la pointe de la technologie.
        </p>
        <a [routerLink]="['/projects']" class="btn">Découvrir mes projets</a>
      </div>
    </div>
  </div>
</section>
